<html>
  <head>
    <title>Index file</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{>header}}
    <p>Welcome to {{name}}</p>
    <form>
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <img src="/img/weather.png" />    
    <script src="/js/weather.js"></script>
  </body>
</html>