body {
  margin: 0px;
  margin-top: 10px;
  padding: 0 15px;
}

h1 {
  color: grey;
}

.menu {
  padding: 0px;
}

.menu li {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

.menu a {
  text-decoration: none;
}
